.info {
  position: relative;
  width: 105vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  padding: 10vh;
  align-items: center;
  background-color: #1B1A17;
  justify-content: space-around;
}

.info-images {
  width: 60%;
}

.info-img {
  width: 15vh;
  margin: 2vh;
}

.works-spacer {
  position: absolute;
  transform: rotate(-90deg);
  width: 100vh;
  height: 3vh;
  right: -48vh;
  color: black;
  background: url("data:image/svg+xml;utf8,<svg style=\"transform:rotate%280deg%29\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 59 64\"><text x=\"0\" y=\"15\" fill=\"%23000\">Proyectos</text></svg>") 0 0/11vh 9vh, #ff7700;
}

.info-title {
  text-decoration: underline;
  text-decoration-color: #ff7700;
  text-underline-position: under;
  font-size: 5vh;
}

@media (max-width: 980px) {
  .info-images {
    width: 80%;
  }
}

@media (max-width: 770px) {
  .info-images {
    width: 100%;
  }

  .info-title {
    font-size: 4vh;
  }
}

@media (max-width: 650px) {
  .info-img {
    width: 10vh;
  }

  .info-title {
    font-size: 4vh;
  }
}

@media (max-width: 530px) {
  .info-img {
    width: 8vh;
  }
}

@media (max-width: 470px) {
  .info-title {
    font-size: 3vh;
  }

  .info-img {
    width: 6vh;
    margin: 1vh;
  }
}