.about {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh;
  background-color: #1B1A17;
}

.about-img {
  width: 50vw;
}

.about-div {
  display: flex;
  padding: 7vh;
  justify-content: space-between;
  align-items: center;
}

.about-title {
  font-size: 10vh;
  border-bottom: 2px solid #ff7700;
  width: 50%;
}

.about-text, .about-text-footer {
  font-size: 4vh;
  width: 40vw;
  border-bottom: 2px solid #ff7700;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.left {
  transform: translate(5vw, 0);
}

.right {
  transform: translate(-5vw, 0);
}

.about-text-footer {
  background: none;
  padding: 2vh;
}