@font-face {
  font-family: "Future-Bold";
  src: local("Future-Bold"), url("../../fonts/Futura-Bold.ttf"), format("ttf");
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  background-color: #1B1A17;
}

.home-text {
  font-family: "Future-Bold"!important;
  font-size: 10vh;
}

.home-text:first-of-type {
  border-bottom: 2px solid #ff7700;
  width: 70%;
}

.home-icon {
  width: 15vh;
  cursor: pointer;
}