.section {
  position: relative;
  width: 105vw;
  height: 100vh;
  display: flex;
  line-height: 1.7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  padding: 10vh;
  align-items: center;
  background-color: #1B1A17;
  justify-content: space-around;
}

.works-info {
  width: 40vw;
}

.works-img {
  width: 90%;
  height: 60vh;
}

.pin-wrap,
.animation-wrap {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.work-title {
  font-size: 15vh;
  font-variant-caps: small-caps;
  transform: translate(5vh, -5vh);
  border-bottom: 2px solid #ff7700;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 130%;
}

.work-use, .work-stack {
  text-align: initial;
  padding-bottom: 5vh;
}

.btn-orange {
  color: #000;
  background-color: #ff7700!important;
  border-color: #ff7700!important;
  margin: 1vh;

  &:hover {
    background-color: #ff9900!important;
  }
}

.works-spacer {
  position: absolute;
  transform: rotate(-90deg);
  width: 100vh;
  height: 3vh;
  right: -48vh;
  color: black;
  background: url("data:image/svg+xml;utf8,<svg style=\"transform:rotate%280deg%29\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 59 64\"><text x=\"0\" y=\"15\" fill=\"%23000\">Proyectos</text></svg>") 0 0/11vh 9vh, #ff7700;
}

@media (max-width: 1450px) {
  .work-title {
    width: 160%;
  }
}

@media (max-width: 1170px) {
  .work-title {
    width: 200%;
  }

  .works-img {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .section {
    flex-direction: column;
    padding: 5vh;
  }

  .works-info {
    width: 100%;
  }

  .work-title {
    font-size: 12vh;
    transform: translate(4vh, 0);
    width: 90%;
  }

  .work-use, .work-stack {
    padding-bottom: 0;
    text-align: center;
  }

  .works-img {
    width: 100%;
    height: 40vh;
  }
}

@media (max-width: 800px) {
  .work-use, .work-stack, .work-description {
    font-size: 3vh;
  }
}

@media (max-width: 720px) {
  .section {
    padding: 3vh;
  }

  .works-info {
    width: 90%;
  }

  .work-title {
    width: 100%;
  }

  .works-img {
    height: 45vh;
  }

  .work-use, .work-stack, .work-description {
    font-size: 2.5vh;
  }

  .works-spacer {
    display: none;
  }
}

@media (max-width: 650px) {
  .work-title {
    font-size: 10vh;
  }

  .works-img {
    width: 90%;
  }
}

@media (max-width: 560px) {
  .section {
    padding-left: 0;
  }

  .work-title {
    font-size: 8vh;
  }

  .works-img {
    width: 95%;
  }
}

@media (max-width: 510px) {
  .works-img {
    width: 100%;
    height: 40vh;
  }
}

@media (max-width: 510px) {
  .section {
    justify-content: 0;
  }

  .work-use, .work-stack, .work-description {
    font-size: 2vh;
  }
}

@media (max-width: 470px) {
  .work-title {
    font-size: 6vh;
  }
}