.section {
  position: relative;
  width: 105vw;
  height: 100vh;
  display: flex;
  line-height: 1.7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  padding: 10vh;
  align-items: center;
  background-color: #1B1A17;
  justify-content: space-around;
}

.works-info {
  width: 40vw;
}

.works-img {
  width: 90%;
  height: 60vh;
}

.pin-wrap,
.animation-wrap {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.work-title {
  font-size: 15vh;
  font-variant-caps: small-caps;
  transform: translate(5vh, -5vh);
  border-bottom: 2px solid #ff7700;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 130%;
}

.work-use, .work-stack {
  text-align: initial;
  padding-bottom: 5vh;
}

.btn-orange {
  color: #000;
  background-color: #ff7700!important;
  border-color: #ff7700!important;
  margin: 1vh;

  &:hover {
    background-color: #ff9900!important;
  }
}