@font-face {
  font-family: "Future-Light";
  src: local("Future-Light"), url("./fonts/Futura-CondensedLight.otf"), format("otf");
}

body {
  margin: 0;
  font-family: "Future-Light"!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white!important;
}

code {
  font-family: "Future-Light";
}
